.version {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px;
  color: #fff;
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 99;
}

@font-face {
  font-family: opensans;
  src: url(../../public/assets/fonts/open_sans/OpenSans-Regular.ttf);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: opensans;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  background-color: #F8EDEB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
a:visited,
a:active {
  color: inherit;
}

#__next {
  height: 100%;
}

.body {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background-color: #FAE1DD;
  /* background-color: red; */
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.navbar {
  width: 100%;
  padding-top: 20px;
  text-transform: uppercase;

  font-size: 1.5rem;

  user-select: none;
  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0;

  z-index: 9;

  opacity: 1;
  transition: opacity 0.5s linear;
}


.Toastify {
  text-transform: none;
}

.navbar-icon-img {
  width: 70px;
  padding: 0 20px;
}

.navbar-hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.navbar-tabs {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.navbar-tabs a {
  text-decoration: none;
  padding: 10px;
}

.navbar-tabs .active {
  color: black;
  position: relative;
}

.navbar-tabs .active:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;

  width: 90%;
  bottom: 12px;

  border-bottom: 6px solid #cc5048;
}

.paragraph {
  text-align: justify;
  text-indent: 60px;
  font-size: 20px;
  padding: 15px 0;
  line-height: 160%;
  overflow-wrap: break-word;
}

.paragraph>a {
  color: #cc5048;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

html::-webkit-scrollbar {
  -webkit-appearance: none;
}

html::-webkit-scrollbar:vertical {
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background-color: #E9D8A6;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb:active {
  background-color: #CA6702;
  /* background-color: #7251eb; */
  filter: brightness(0.6);
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:vertical {
  height: 12px;
}

.hamburguer-button {
  display: none;
}

@media only screen and (max-width: 1380px) {

  .navbar {
    font-size: 1.27rem;
  }
}

@media only screen and (max-width: 1200px) {
  .body {
    width: 70%;
  }

  .navbar {
    font-size: 1.3rem;
  }

  .navbar-icon-img {
    width: 50px;
  }

}

@media only screen and (max-width: 1085px) {

  .navbar {
    font-size: 1.1rem;
  }

  .navbar-icon-img {
    width: 40px;
  }
}


@media only screen and (max-width: 884px) {

  .body {
    width: 90%;
    height: auto;
  }

  .navbar {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {

  .body {
    width: 85%;
    padding: 0 15px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar-icon-img {
    padding-left: 8px;
  }

  .navbar-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .hamburguer-container {
    height: 29px;
    padding-top: 4px;
  }

  .hamburguer-button {
    display: block;
    width: 42px;
    height: 34px;
    position: absolute;
    top: 26px;
    right: 6px;

    cursor: pointer;
    opacity: 0;

    z-index: 9;

    -webkit-touch-callout: none;
  }

  .hamburguer-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  .hamburguer-container span:nth-child(2) {
    transform-origin: 0% 100%;
  }

  .hamburguer-container span:nth-child(3) {
    transform-origin: 0% 0%;
  }

  .hamburguer-button:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -2px);
    background: #cc5048;
  }

  .hamburguer-button:checked~span:nth-child(3) {
    opacity: 0;
  }

  .hamburguer-button:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
  }

  .navbar {
    border: none;
  }

  .navbar-tabs {

    display: flex;
    flex-direction: column;
    text-align: center;
    pointer-events: none;

    position: absolute;
    opacity: 0;
    margin-top: 5px;
  }

  .navbar-tabs a {
    margin: 1px;
    width: 90%;
    background-color: #fffaee;
    background-color: #e2ddcf;
    border-radius: 4px;
  }

  .navbar-tabs-active {
    position: relative;
    opacity: 1;
    transition: opacity 1s linear;
    pointer-events: auto;
  }

  .navbar-tabs .active {
    background-color: #cc5048;
    color: #fffaee;
    text-decoration: none;
  }

  .paragraph {
    padding: 20px;
  }


}



@media only screen and (max-width: 480px) {

  .body {
    padding: 0 0;
    width: 93%;
    /* background-color: red; */
  }

  .content {
    width: 90%;
    padding: 0;
  }

  .navbar {
    padding-top: 5px;
  }

  .paragraph {
    text-indent: 40px;
  }
}


@media (hover:hover) {

  .paragraph>a:hover {
    filter: brightness(0.6);
    color: #cc5048;
    text-decoration: underline;
  }


  .navbar-tabs a:hover:not(.active) {
    color: #cc5048;
  }

  html::-webkit-scrollbar-thumb:hover {
    background-color: #EE9B00;
  }
}



::-moz-selection {
  /* Code for Firefox */
  color: #e5e1d6;
  background: #cc5048;
}

::selection {
  color: #e5e1d6;
  background: #cc5048;
}